@font-face {
  font-family: "satoshiblack_italic";
  src: url("../public/fonts/satoshi-blackitalic-webfont.woff2") format("woff2"),
    url("../public/fonts/satoshi-blackitalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "satoshiblack";
  src: url("../public/fonts/satoshi-black-webfont.woff2") format("woff2"),
    url("../public/fonts/satoshi-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "satoshibold_italic";
  src: url("../public/fonts/satoshi-bolditalic-webfont.woff2") format("woff2"),
    url("../public/fonts/satoshi-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "satoshibold";
  src: url("../public/fonts/satoshi-bold-webfont.woff2") format("woff2"),
    url("../public/fonts/satoshi-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "satoshimedium_italic";
  src: url("../public/fonts/satoshi-mediumitalic-webfont.woff2") format("woff2"),
    url("../public/fonts/satoshi-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "satoshimedium";
  src: url("../public/fonts/satoshi-medium-webfont.woff2") format("woff2"),
    url("../public/fonts/satoshi-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "satoshiitalic";
  src: url("../public/fonts/satoshi-italic-webfont.woff2") format("woff2"),
    url("../public/fonts/satoshi-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "satoshiregular";
  src: url("../public/fonts/satoshi-regular-webfont.woff2") format("woff2"),
    url("../public/fonts/satoshi-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "satoshilight_italic";
  src: url("../public/fonts/satoshi-lightitalic-webfont.woff2") format("woff2"),
    url("../public/fonts/satoshi-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "satoshilight";
  src: url("../public/fonts/satoshi-light-webfont.woff2") format("woff2"),
    url("../public/fonts/satoshi-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply font-title text-6xl mb-6;
    color: theme("colors.Neutral800");
  }
  .h2 {
    @apply font-title text-6xl mb-4;
    color: theme("colors.Neutral800");
  }
  .h3 {
    @apply font-title text-2xl mb-5;
    color: theme("colors.Neutral800");
  }
  .h4 {
    @apply font-title text-xl mb-4;
    color: theme("colors.Neutral800");
  }
  .h5 {
    @apply font-title text-lg mb-4;
    color: theme("colors.Neutral800");
  }
  .h6 {
    @apply font-title text-base mb-2.5;
    color: theme("colors.Neutral800");
  }

  .pSmall {
    @apply font-body text-lg mb-5;
    color: theme("colors.Neutral600");
  }
  .pDefault {
    @apply font-body text-lg mb-5;
    color: theme("colors.Neutral600");
  }

  .pLarge {
    @apply font-body text-2xl mb-5;
    color: theme("colors.Neutral600");
  }

  .links {
    @apply font-body text-lg;
    color: theme("colors.Neutral800");
  }

  .bq {
    @apply font-body text-lg mb-3;
    color: theme("colors.Neutral800");
  }

  ul {
    @apply font-body list-disc pl-10;
    color: theme("colors.Neutral600");
  }

  ol {
  }

  .figure {
    @apply rounded-lg w-full max-w-full inline-block;
  }

  .figure-caption {
    @apply font-body text-center mt-6;
    color: theme("colors.Neutral500");
  }

  .button-primary {
    @apply border-none text-Secondary1 bg-Neutral800 rounded-t-full px-6 py-3 rounded-full shadow-sm
    hover:bg-Secondary1 hover:text-Neutral800;
  }
  .button-Default {
    @apply border-none text-Secondary1 bg-Neutral800 rounded-t-full px-16 py-8 text-lg font-bold rounded-full
  shadow-sm hover:bg-Secondary1 hover:text-Neutral800;
  }
  .button-Large {
    @apply border-none text-Secondary1 bg-Neutral800 rounded-t-full px-20 py-6 text-xl font-bold rounded-full
  shadow-sm hover:bg-Secondary1 hover:text-Neutral800;
  }
  .button-secondary {
    @apply border-none text-Neutral700 bg-Neutral200 rounded-t-full px-6 py-3 rounded-full shadow-sm hover:bg-Neutral700 hover:text-Neutral200;
  }
  .button-sDefault {
    @apply border-none text-Neutral700 bg-Neutral200 rounded-t-full px-16 py-8 text-lg font-bold rounded-full
  shadow-sm hover:bg-Neutral700 hover:text-Neutral200;
  }
  .button-sLarge {
    @apply border-none text-Neutral700 bg-Neutral200 rounded-t-full px-20 py-6 text-xl font-bold rounded-full
  shadow-sm hover:bg-Neutral700 hover:text-Neutral200;
  }
}
